/* =========================================
   recuperar
   ========================================= */
    /*Grupo: 18, Número: 66567, Nome: Tiago Sun, PL: 21
      Grupo: 18, Número: 66585, Nome: Lecheng Guo, PL: 21
      Grupo: 18, Número: 66565, Nome: Xiaoqi Liu, PL: 21*/

/*页面*/
.main-recuperar {
    display: flex; /* 开启弹性布局  */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中*/
    padding-top: 20px;
    padding-bottom: 20px;
}

/*找回密码的表单方框*/
.caixa-recuperar {
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 8px; /* 圆角 */
    padding: 25px 40px;
    width: 450px; /* 稍微宽一点，为了完美装下验证码和获取按钮 */
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.15); /* 产生立体阴影 */
}

/* 标题 */
.caixa-recuperar h2 {
    text-align: center;
    margin-bottom: 5px;
    text-transform: uppercase; /* 全部大写字母*/
}

/* 描述性副标题 */
.subtitulo {
    text-align: center;
    font-size: 13px;
    color: #555;
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(129, 199, 249); /* 蓝色分隔线 */
    padding-bottom: 10px;
}

/* 输入框组排版 */
.grupo-input {
    margin-bottom: 15px; /* 每一组输入区之间的间距 */
    text-align: left;
}

/* 文本标签*/
.grupo-input label {
    display: block; /* 独占一行 */
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 13px;
}

/* 统一设置普通文本、邮箱、密码输入框的样式 */
.grupo-input input[type="text"],
.grupo-input input[type="email"],
.grupo-input input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 4px;
    font-family: inherit; /* 继承字体 */
    font-size: 14px;
    background-color: #f9f9f9;
    box-sizing: border-box; /* 确保 padding 不破坏 100% 宽度 */
}

/* 输入框聚焦效果 */
.grupo-input input:focus {
    outline: none; /* 移除浏览器默认蓝框 */
    border-color: rgb(129, 199, 249); /* 换成主题蓝色 */
    background-color: #fff;
}

/*验证码行的特殊排版*/
.linha-codigo {
    display: flex; /* 开启弹性布局让输入框和按钮并排 */
    gap: 10px; /* 它们之间的间距 */
}

/* 验证码输入框占据剩余的所有空间 */
.linha-codigo input {
    flex: 1; /* 自动弹开填满空间 */
}

/* 获取验证码的专属小按钮 */
.btn-codigo {
    padding: 0 15px;
    background-color: #f0f0f0; /* 默认灰色背景 */
    border: 2px solid #000;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: inherit;
}

.btn-codigo:hover {
    background-color: rgb(129, 199, 249); /* 悬停变蓝 */
    color: #000;
}

/* 底部重置按钮区域 */
.acoes-recuperar {
    margin-top: 25px;
    text-align: center;
}

/* 主操作按钮  */
.btn-acao {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    background-color: rgb(129, 199, 249);
    border: 2px solid #000000;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

.btn-acao:hover {
    background-color: #000000; /* 悬停背景变黑 */
    color: #ffffff; /* 文字变白 */
}