/* =========================================
  这个是给regras e tutorial 的css
   ========================================= */
    /*Grupo: 18, Número: 66567, Nome: Tiago Sun, PL: 21
      Grupo: 18, Número: 66585, Nome: Lecheng Guo, PL: 21
      Grupo: 18, Número: 66565, Nome: Xiaoqi Liu, PL: 21*/

/*网格*/
.texto-regras {
    display: grid; /* 网格布局 */
    grid-template-columns: repeat(2, 1fr); /* 切成 2 列，每列平均分摊 1 份空间 */
    gap: 20px; /* 四个方块之间的十字间距 */
    padding-top: 10px;
    text-align: left;
}

/* 页面大标题) */
.texto-regras h1 {
    grid-column: 1 / -1; /* 极其重要的代码：让标题无视列的限制，从第 1 根网格线跨越到最后一根，霸占整行  */
    text-align: center;
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: -15px; /* 往上挪一点，缩小和顶部返回按钮的空隙 */
}

/* 单个规则信息卡片 */
.seccao-regra {
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 8px; /* 圆角 */
    padding: 15px; /* 卡片内部的留白 */
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.15); /* 阴影 */
    
    display: flex;
    flex-direction: column; /* 卡片内部的内容从上往下排布 */
}

/* 卡片的蓝色标题头  */
.seccao-regra h2 {
    color: #ffffff;
    background-color: rgb(129, 199, 249);
    
    /* 利用负外边距抵消父元素的 15px padding，让蓝色背景完美贴合卡片边缘  */
    margin: -15px -15px 15px -15px; 
    padding: 8px 10px;
    border-bottom: 2px solid #000000;
    font-size: 18px;
    text-align: center;
    border-radius: 6px 6px 0 0; /* 只有左上和右上角有圆角，贴合外框 */
}

/* 卡片里的正文内容 */
.seccao-regra p {
    font-size: 13px;
    line-height: 1.5; /* 增加行高方便阅读 */
    margin-bottom: 8px;
}

/* 卡片里的副标题 */
.seccao-regra h3 {
    font-size: 15px;
    margin-top: 10px;
    border-bottom: 1px dashed #ccc; /* 灰色虚线分割 */
    padding-bottom: 3px;
    margin-bottom: 5px;
}

/* 卡片里的无序列表  */
.seccao-regra ul {
    margin-left: 20px; /* 把黑点往右推一点，对齐文字 */
    font-size: 13px;
}

/* 特殊元素样式 */
/* 分数计算公式的高亮框*/
.destaque-formula {
    font-size: 16px;
    margin: 5px 0;
    padding: 5px;
    background-color: #f9f9f9;
    border: 1px dashed #000;
    display: inline-block; /* 让框的宽度刚刚好包住文字内容 */
    align-self: center; /* 在 Flex 列中居中对齐 */
}

.video-container {
    justify-content: flex-start;
}

/* =========================================
  屏幕适配
   ========================================= */
/* 当屏幕宽度小于 768px触发变形 */
@media (max-width: 768px) {
    .texto-regras {
        /* 把原本的 2 列变成 1 列*/
        grid-template-columns: 1fr; 
    }
}