body {
    background-image:url(background.jpg);
    color: #dcf42e;
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    padding: 20px;
    padding-top: 100px;
    text-align: center;
}
